* {
 /* outline: 1px solid limegreen;  */
}

.admin-Dashboard-page {
    background-color: rgb(231, 228, 228);
    min-height: 100vh;
    padding-bottom: 1em;
     /* height: 100vh;  */
}

.admin-level-container {
    background-color: white;
    margin: 1em;
    text-align: justify;
    border-radius: 10px;
    padding-bottom: 0.5em;
}

.admin-level-item {
    font-weight: bold; 
    /* margin-bottom: 0.5em; */
    margin-left: 1em;
    background-color: rgb(25, 242, 25); 
}

.admin-level-item p {
    background-color: white;
    padding: 1em 1em 1em 0em;
    display: flex;
    transition: 0.2s;
}

.admin-level-item p:hover {
    margin-left: 0.8em;
}

/* Level Details */

.level-details {
    background-color: white;
    margin: 2em 1em 1em 1em;
    border-radius: 10px;
    text-align: justify;
    padding: 1em;
}

.level-details h2 {
    font-size: 1.5em;
    color: rgb(25, 242, 25);
}

.level-details ul li::marker {
    color: rgb(15, 219, 15);
}

.level-details ul {
    list-style-type: circle;
    padding-left: 1em;
}